@page "/jobpostings"
@inject IJSRuntime jsr
@using XebecPortal.Client.JobPortalTestEnv.Models

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

    * {
        font-family: 'Montserrat', sans-serif;
    }

    .wrapper-job {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #d8e2dc;
    }

    .add-job-container {
        padding: 20px;
        width: 90%;
        max-width: 650px;
        margin: auto;
        height: 90%;
        max-height: 500px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: #fff;
        border-radius: 5px;
    }

    .inner-wrapper {
        width: 100%;
        height: 90%;
        margin: auto;
        display: flex;
    }

    .left {
        width: 45%;
        height: inherit;
        padding: 5px;
        overflow-y: scroll;
    }

    .left::-webkit-scrollbar {
        width: 12px;
    }

    .left::-webkit-scrollbar-track {
        background-color: #EAF2F8;
    }

    .left::-webkit-scrollbar-thumb {
        background-color: #95A5A6;
        border-radius: 20px;
        border: 3px solid #EAF2F8;
    }

    .box {
        width: 90%;
        height: fit-content;
        padding: 10px;
        margin: 5px auto;
        cursor: pointer;
    }

    .right {
        width: 55%;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .select-details {
        width: 90%;
        height: 70%;
        margin: auto;
        padding: 10px;
    }

    .box,
    .select-details {
        border: 1px solid #95A5A6;
        border-radius: 5px;
        font-size: 13px;
        padding: 5px;
    }

    .btn-container {
        width: 90%;
        height: 25%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }


    ul span
    {
        font-weight: bold;
    }
 
    li
    {
        list-style: none;
    }

    .select-details p span
    {
        font-weight: bold;
    }

</style>


<div class="wrapper-job">

    <h1 class="mt-5" style="margin-bottom: -5px;">Job Postings</h1>

    <div class="add-job-container">

        <input type="text" class="form-control w-75 mt-2 mb-3" placeholder="search" @bind-value="searchTerm">

        <div class="inner-wrapper">

            <div class="left">

                @if(SearchResults != null && SearchResults.Count > 0)
                {
                     @foreach (var job in SearchResults)
                    {
                        <div class="box" @onclick="On" id=@($"{(job.Id)}")>
                   
                            <ul>
                              <span>ID: </span> <li id="child">@job.Id</li> <br>
                              <span>Title: </span> <li>@job.Title</li> <br>  
                              <span>Location: </span> <li>@job.Location</li>

                            </ul>

                        </div>

                    }
                }
               
                         

            </div>

            <div class="right">
                <div class="select-details">
                    
                    
                    @if(IsClicked && CurrentJob != null)
                    {
                    
                  
                       
                        <p><span>ID: </span>@CurrentJob.Id</p>
                        <p><span>Title: </span>@CurrentJob.Title</p>
                        <p><span>Location: </span>@CurrentJob.Location</p>
                        <p><span>Compensation: </span>@CurrentJob.Compensation</p>                        
                        <p><span>Description: </span>@CurrentJob.Description</p>
                    }


                </div>
                <div class="btn-container">
                    <button class="btn btn-outline-info btn-sm mr-1" @onclick="Search">Search</button>
                    <a href="/addjobpost" class="btn btn-outline-success btn-sm ml-1">Post Job</a>
                </div>
            </div>

        </div>



    </div>

</div>


@code
{
    static string searchTerm = string.Empty;
static List<JobTest> Jobs = new List<JobTest>
{

            new JobTest
            {
                Id = 1,
                Title = "Manager",
                Description = "blah blah blah blah blah",
                Location = "Durban",
                Compensation = "R15000"



            },


             new JobTest
            {
                Id = 2,
                Title = "Intern",
                Description = "blah blah blah blah blah",
                Location = "Cape Town",
                Compensation = "R10000"
            },

                new JobTest
            {
                Id = 3,
                Title = "Director",
                Description = "blah blah blah blah blah",
                Location = "Sandton",
                Compensation = "R40000",

            },
              new JobTest
            {
                Id = 4,
                Title = "Intern",
                Description = "blah blah blah blah blah",
                Location = "Durban",
                Compensation = "R50000"
            },
              new JobTest
            {
                Id = 5,
                Title = "Manager",
                Description = "blah blah blah blah blah",
                Location = "Cape Town",
                Compensation = "R100000"
            },

    };


    private static List<JobTest> SearchResults = Jobs;
    private static bool isFound = false;    

    private static void Search()
    {
        SearchResults = Jobs.FindAll(q => q.Title.ToLower().Equals(searchTerm.ToLower())); 

        //this is for when the search bar is empty
        @* if(SearchResults == null || SearchResults.Count <= 0)
            SearchResults = Jobs; *@
       
    }    

    bool IsClicked = false;
    private int ReturnedJobId = 0;
    private JobTest CurrentJob = null;
    private async Task On()
    {
        IsClicked = true;
        ReturnedJobId = Int32.Parse(await jsr.InvokeAsync<string>("show"));       
       
        CurrentJob = SearchResults.FirstOrDefault(q => q.Id == ReturnedJobId); 
    
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await jsr.InvokeVoidAsync("initialize");
        }
    }

}